$blue: rgb(28, 47, 141); 
$black: black;
$white: white;

.button{
    background-color: $white;
    padding: 1,2rem 1.4rem;
    border-radius: 4px;
    color: $blue;
}


.button-enviar{
    @extend .button;
    background-color: $white;
    margin-right: 10px;
}

.button-cancelar{
    @extend .button;
    background-color: $white;
}